.reveal section img {
  max-width: 100%;
}
.reveal section img.img1 {
  max-width: 699px;
  background: #fff;
}
.reveal .flex {
  display: flex;
  flex-wrap: wrap;
}
.reveal .col-2 > * {
  box-sizing: border-box;
  width: 44%;
  padding: 0 3%;
}
.reveal .col-3 > * {
  box-sizing: border-box;
  width: 28%;
  padding: 0 2%;
}
p.par1 {
  font-size: 90%;
}
span.highlight-addressbar,
span.highlight-addressbar2 {
  position: absolute;
  display: block;
  height: 20px;
  color: #8e24aa;
  border: 2px solid #8e24aa;
}

span.highlight-addressbar {
  top: 20.75%;
  left: 32%;
  width: 39%;
}
span.highlight-addressbar2 {
  top: 34.5%;
  left: 38%;
  width: 9%;
}
span.highlight-addressbar span {
  display: inline-block;
  margin-top: 6%;
  margin-left: 45%;
  font-size: 70%;
}
span.highlight-addressbar span:last-child {
  color: #3949ab;
  margin-top: 0.5%;
  font-size: 57%;
  text-align: justify;
}

span.highlight-addressbar2 span {
  position: relative;
  display: inline-block;
  top: -125%;
  left: 115%;
  font-size: 50%;
}
span.highlight-addressbar2 span:last-child {
  color: #3949ab;
  /*margin-top: 0.5%;*/
  top: -385%;
  left: 220%;
  font-size: 45%;
  text-align: justify;
}
/*.software-servers {
  flex-wrap: wrap;
}
*/
.reveal section img.rack {
  margin: 2% 0;
}
.software-servers div {
  padding: 1%;
  margin: 2%;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.reveal .servers > * {
  max-height: 400px;
}
.reveal .clients > * {
  max-height: 200px;
}
.reveal .client-images div {
  /*max-width: 48%;*/
  margin: 0 1%;
}
.reveal .client-images img {
  margin: 0;
  max-height: 165px;
  background: #fff;
  border: 4px solid #fff;
}
.reveal img.no-border {
  border: none;
}
.reveal img.padding {
  padding: 20px;
}
.reveal div.web-servers img {
  background-color: #1a1a1a;
}
.reveal .no-margin {
  margin: 0 auto;
}